# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.direnv

# Prisma generated client
node_modules/.prisma/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/
.cursor*
